name: anywherelan
description: Securely connect your devices into a private network.

homepage: "https://github.com/anywherelan/awl"
repository: "https://github.com/anywherelan/awl-flutter"
issue_tracker: "https://github.com/anywherelan/awl/issues"

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 0.15.0

environment:
  sdk: '>=3.10.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  http: ^1.6.0
  json_annotation: ^4.9.0
  json_serializable: ^6.11.3
  permission_handler: ^12.0.1
  qr_flutter: ^4.1.0
  share_plus: ^12.0.1
  path_provider: ^2.1.5
  flutter_local_notifications: ^19.5.0
  overlay_support: ^2.1.0
  mobile_scanner: ^7.1.3
  file_saver: ^0.3.1
  file_picker: ^10.3.7
  url_launcher: ^6.3.2

  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
#  cupertino_icons: ^0.1.3

dev_dependencies:
  build_runner: ^2.10.4
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/icons/awl.png

  # see https://github.com/flutter/flutter/issues/60069
  fonts:
    - family: Roboto
      fonts:
        - asset: assets/fonts/Roboto-Regular.woff2
    - family: "Noto Sans SC 71"
      fonts:
        - asset: assets/fonts/NotoSansSC-Regular.woff2
    - family: "Noto Color Emoji 2"
      fonts:
        - asset: assets/fonts/NotoColorEmoji.woff2

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
